<center style="font-weight: bold; font-size: 20px; padding: 20px;">Aziz ul haq</center>
<center style="font-weight: bold; font-size: 20px; padding: 20px;">Titanic_Assignment</center>
<center style="font-weight: bold; font-size: 20px; padding: 20px;">Random_Forest</center>

## Importing libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [2]:
# Step 1: Load the Titanic dataset
df = pd.read_csv(r'C:\Users\DELL XPS\Desktop\AI & ML\Data\titanic.csv')
print(df.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

In [3]:
# Step 2: Data Cleaning
# Drop unnecessary columns
df.drop(["Name", "Ticket", "Cabin"], axis=1, inplace=True)