### Pandas Append function is used to append rows of other dataframe to the end of the given dataframe, returning a new dataframe object.

#### Syntax: DataFrame.join()

 **df.append()**
 
 **Parameters:**

 - other
 - Ignore-indes
 - sort

### Pandas Append() Function in Python

In [1]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({ "A": [1,2,3,4],
                    "B" : [10,20,30,40]
})
df2 = pd.DataFrame({"A": [5,6,7,8],
                    "B" : [50,60,70,80]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40

   A   B
0  5  50
1  6  60
2  7  70
3  8  80

In [8]:
df1.concat(df2)

AttributeError: 'DataFrame' object has no attribute 'concat'

In [9]:
import pandas as pd

# Assuming df1 and df2 are already defined DataFrames
result = pd.concat([df1, df2])

In [10]:
result

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
0  5  50
1  6  60
2  7  70
3  8  80

In [13]:
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30
3  4  40

   A   B
0  5  50
1  6  60
2  7  70
3  8  80

In [16]:
import pandas as pd

# Assuming df1 and df2 are already defined DataFrames
result = pd.concat([df1, df2], ignore_index=True)

In [17]:
result

   A   B
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50
5  6  60
6  7  70
7  8  80

In [18]:
df1 = pd.DataFrame({'A': [1,2,3],
                   'B': [10,20,30]})
df2 = pd.DataFrame({'C': [4,5,6],
                   'B': [40,50,60]})
display(df1,df2)

   A   B
0  1  10
1  2  20
2  3  30

   C   B
0  4  40
1  5  50
2  6  60

In [19]:
df1.append(df2, ignore_index = True)

AttributeError: 'DataFrame' object has no attribute 'append'