# Pandas Join() Method in Python

In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    "A": [1,2,3],
    "B": [1,2,3]
})
df1

   A  B
0  1  1
1  2  2
2  3  3

In [3]:
df2 = pd.DataFrame({
    "B" : [4,5,6],
    "C" : [40,50,60]
})
df2

   B   C
0  4  40
1  5  50
2  6  60

In [4]:
display(df1,df2)

   A  B
0  1  1
1  2  2
2  3  3

   B   C
0  4  40
1  5  50
2  6  60

In [5]:
df1.join(df2)

ValueError: columns overlap but no suffix specified: Index(['B'], dtype='object')

In [6]:
df1.join(df2, lsuffix='_left', rsuffix='_right')

   A  B_left  B_right   C
0  1       1        4  40
1  2       2        5  50
2  3       3        6  60

In [7]:
df2.join(df1, lsuffix='_left', rsuffix='_right')

   B_left   C  A  B_right
0       4  40  1        1
1       5  50  2        2
2       6  60  3        3

In [10]:
df1 = pd.DataFrame({'A': [1,2,3],
                   'B': [10,20,30]},
                   index = ['a','b','c'])
 
df2 = pd.DataFrame({'C': [4,5,6],
                   'D': [40,50,60]},
                  index = ['a','b','c'])
display(df1, df2)

   A   B
a  1  10
b  2  20
c  3  30

   C   D
a  4  40
b  5  50
c  6  60

In [11]:
df1.join(df2)

   A   B  C   D
a  1  10  4  40
b  2  20  5  50
c  3  30  6  60

In [12]:
df2.join(df1)

   C   D  A   B
a  4  40  1  10
b  5  50  2  20
c  6  60  3  30