# pandas.Series

**Pandas Series is a One Dimensional indexed array. It is most similar to the NumPy array. pandas.Series is a method to create a series.**,</br>

**Here practically explanation about Series.**</br>
**For using pandas library in Jupyter Notebook IDE or any Python IDE or IDLE, we need to import Pandas, using the import keyword**

In [ ]:
import pandas as pd

**Here we are using as keyword to short pandas name as “pd“**</br>

**The latest version of Pandas Library is 0.24.2 released on 12 March 2019. To know the version of Jupyter Notebook IDE**

In [ ]:
pd.__version__

# Methods of Creating a Series

<h3>1. Creating series from list</h3>

***but first, we are creating a list***

In [1]:
list_1 = [1, 2, -3, 4.5, 'Pakistani']
print(list_1)

[1, 2, -3, 4.5, 'Pakistani']

### Creating series using the above list

In [4]:
import pandas as pd
series1 = pd.Series(list_1)
print(series1)

0            1
1           -1
2          4.5
3    Pakistani
dtype: object

***Here it is showing 0 1 2 3 4 is index and 1 2 -3 4.5 Pakistani are data values.***

In [5]:
type(series1)

pandas.core.series.Series

***pandas.core.series.Series means series is a one-dimensional array, which can store indexed data***

## 2. Creating Empty Series</br>
***Empty series is like an empty list, we can create empty series using an empty list***

In [7]:
empty_s = pd.Series([])
print(empty_s)

Series([], dtype: object)

## 3. Creating Series using a different method</br>
***List inside the series***

In [8]:
series2 = pd.Series([1,2,3,4,5])
print(series2)

0    1
1    2
2    3
3    4
4    5
dtype: int64

<I>In index parameter, default index is start from 0 to n (0,1,2,….n) when index is not identified
Here we are creating series with the index parameter<I>></br>
<I>Index length should have equal to the number of data values, otherwise, it shows error</I>

In [3]:
import pandas as pd
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c','d','e'])
print(series2)

a    1
b    2
c    3
d    4
e    5
dtype: int64

<I>We can change index to any numbers, alphabates, names etc.</I></br>

<I>Above you can see dtype: int64, this means our data type has stored in integer 64 bit.
we can change the data type of series</I></br>
<I>Changing data type of series (Convert int into a float)</I>

In [4]:
series2 = pd.Series([1,2,3,4,5], index = ['a', 'b', 'c', 'd', 'e'], dtype = float)
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

<I>4. Creating series from scalar values</br>
scalar values means single value</br>
e.g. 1, 0.5, ‘Pakistani’</I>

In [5]:
s3_scalar = pd.Series(2)
print(s3_scalar)

0    2
dtype: int64

***for more data values index should be needed.***

In [6]:
s3_scalar = pd.Series(2, index = [1,2,3,4,5])
print(s3_scalar)

1    2
2    2
3    2
4    2
5    2
dtype: int64

### 5. Creating series from python dictionary

In [7]:
s4_dict = pd.Series({'a':1, 'b':2, 'c':3})
print(s4_dict)

a    1
b    2
c    3
dtype: int64

#### Accessing element from series</br>
***Pandas Series supports most Python functions.***</br>
***Now, we are accessing element from series2***

In [8]:
print(series2)

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
dtype: float64

***We can access any value or data from series by putting index value***

In [9]:
series2[3]

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_15740\414786273.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series2[3]

np.float64(4.0)

In [10]:
series2[4]

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_15740\3057651928.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  series2[4]

np.float64(5.0)

#### Slicing series</br>
***Here we are slicing series with index value 1 to 4 that means 1 is inclusive(it can be taken) and 4 is exclusive(it can be not taken)***

In [11]:
series2[1:4]

b    2.0
c    3.0
d    4.0
dtype: float64

### Adding two serieses

In [12]:
s5 = pd.Series([1,2,3,4,5])
s6 = pd.Series([1,2,3,4,5])
a = s5 + s6
print(a)

0     2
1     4
2     6
3     8
4    10
dtype: int64

***we can also add series using add method***

In [13]:
s5.add(s6)

0     2
1     4
2     6
3     8
4    10
dtype: int64

***min() operator gives minimum value of particular series***

In [14]:
min(a)

2

***max() operator gives maximum value***

In [15]:
max(a)

10

***Conditional operator***</br>
***If you want to print less than 8 values***

In [16]:
a[a<8]

0    2
1    4
2    6
dtype: int64

***Using drop() function we can eliminate any index value***

In [17]:
a.drop(4)

0    2
1    4
2    6
3    8
dtype: int64

***Now we are printing series6 (s6)***

In [18]:
print(s6)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [19]:
s7 = pd.Series([1,2,3])
print(s7)

0    1
1    2
2    3
dtype: int64

***Pandas have additional functions to fill missing values, it does not show an error when the value is missing. Missing values are shown by NaN.***</br>
***See below example:***</br>


***In pandas, we can add the unequal data values series. Here series s6 have 5 data values and s7 have 3 data values, when we perform addition operation it adds successfully***

In [20]:
s6 + s7

0    2.0
1    4.0
2    6.0
3    NaN
4    NaN
dtype: float64