# Python Pandas DataFrame

<I>Pandas DataFrame is two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes(rows & columns).</br>

Here practically explanation about DataFrame.</I>

### Creating DataFrame with different ways</br>
#### 1. Creating empty dataframe

In [1]:
import pandas as pd
emt_df = pd.DataFrame()
print(emt_df)

Empty DataFrame
Columns: []
Index: []

#### 2. Creating dataframe from list

In [3]:
lst = ['a', 'b', "c"]  #first creating a list
print(lst)

['a', 'b', 'c']

In [8]:
df1 = pd.DataFrame(lst)  #Creating Data from above list
print(df1)

   0
0  a
1  b
2  c

***We can also inline print that command just using that variable name, without using print function***

In [9]:
df1

   0
0  a
1  b
2  c

***Here first row(0) is data values column index/label and first column is index (which is start from 0) and second column have data values.***

### 3. Creating dataframe from list of list

In [10]:
ls_ls_ls = [['1','2','3'], ['4','5','6'],['7','8','9']]  #Creating a list of list
print(ls_ls_ls)

[['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [11]:
df2 = pd.DataFrame(ls_ls_ls)  #Creating DataFrame from above list of list
print(df2)

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

***4. Creating dataframe from dict or dictionary or python dictionary***

In [14]:
dict1 = {'ID': [11, 22, 33, 44]}  #Creating Dictionary
print(dict1)

{'ID': [11, 22, 33, 44]}

In [15]:
df3 = pd.DataFrame(dict1)  #Creating DataFrame from above Dictionary
print(df3)

   ID
0  11
1  22
2  33
3  44

***For more data values columns***

In [16]:
dict2 = {'ID': [11,22,33,44], 'SN': [1,2,3,4]}
dict2

{'ID': [11, 22, 33, 44], 'SN': [1, 2, 3, 4]}

In [18]:
df4 = pd.DataFrame(dict2)
df4

   ID  SN
0  11   1
1  22   2
2  33   3
3  44   4

### 5. Creating dataframe from list of dict

In [19]:
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4}]   # Creating list of dict
df5 = pd.DataFrame(ls_dict)   # Creating dataframe from list of dict
df5

   a  b
0  1  2
1  3  4

In [21]:
# Creating dataframe from list of dict with different way
 
ls_dict = [{'a':1, 'b':2}, {'a':3, 'b':4, 'c':5}]   
df6 = pd.DataFrame(ls_dict)
df6

   a  b    c
0  1  2  NaN
1  3  4  5.0

<I>Here in first dictionary ‘c’ is not defined but that command not gives error because pandas has function to </br>handle missing values (which is shown by NaN)
</br>NaN means not a number</I>

### 6. Creating dataframe from dict of series

In [26]:
dict_str = {'ID': pd.Series([1,2,3]), 'SN': pd.Series([3,4,5])}
df7 = pd.DataFrame(dict_str)
df7

   ID  SN
0   1   3
1   2   4
2   3   5