### ðŸ“Š Project: Analyzing Sales Data with Pandas

In [1]:
# 1. Import pandas
import pandas as pd

In [4]:
# 2. Load the CSV file into a DataFrame
df = pd.read_csv(r'C:\Users\DELL XPS\Desktop\AI & ML\Pandas\sales_data.csv')

In [7]:
print(df)

   OrderID Product   Category  Quantity  Price       Date Region
0     1001  Laptop       Tech         2   1200  1/12/2024   West
1     1002   Chair  Furniture         5     85  1/14/2024   East
2     1003   Phone       Tech         1    999  1/15/2024  South

In [8]:
# 3. Display first 5 rows
print(df.head())

   OrderID Product   Category  Quantity  Price       Date Region
0     1001  Laptop       Tech         2   1200  1/12/2024   West
1     1002   Chair  Furniture         5     85  1/14/2024   East
2     1003   Phone       Tech         1    999  1/15/2024  South

In [9]:
# 4. Check data types and info
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OrderID   3 non-null      int64
 1   Product   3 non-null      object
 2   Category  3 non-null      object
 3   Quantity  3 non-null      int64
 4   Price     3 non-null      int64
 5   Date      3 non-null      object
 6   Region    3 non-null      object
dtypes: int64(3), object(4)
memory usage: 300.0+ bytes
None

In [10]:
# 5. Check for missing values
print(df.isnull().sum())

OrderID     0
Product     0
Category    0
Quantity    0
Price       0
Date        0
Region      0
dtype: int64

In [11]:
# 6. Fill missing values (example: Quantity)
df['Quantity'].fillna(0, inplace=True)

C:\Users\DELL XPS\AppData\Local\Temp\ipykernel_12128\2441277152.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Quantity'].fillna(0, inplace=True)

In [12]:
# 7. Create a new column: Total = Quantity Ã— Price
df['Total'] = df['Quantity'] * df['Price']

In [13]:
# 8. Convert Date column to datetime type
df['Date'] = pd.to_datetime(df['Date'])

In [14]:
# 9. Filter data for only 'Tech' category
tech_sales = df[df['Category'] == 'Tech']

In [15]:
print(tech_sales)

   OrderID Product Category  Quantity  Price       Date Region  Total
0     1001  Laptop     Tech         2   1200 2024-01-12   West   2400
2     1003   Phone     Tech         1    999 2024-01-15  South    999

In [16]:
# 10. Group by Region and calculate total sales
region_sales = df.groupby('Region')['Total'].sum().reset_index()

In [17]:
# 11. Sort data by Total sales in descending order
sorted_sales = region_sales.sort_values(by='Total', ascending=False)

In [18]:
print(sorted_sales)

  Region  Total
2   West   2400
1  South    999
0   East    425

In [19]:
# 12. Rename columns for clarity
sorted_sales.rename(columns={'Total': 'Total Sales'}, inplace=True)

In [20]:
print(sorted_sales.rename)

<bound method DataFrame.rename of   Region  Total Sales
2   West         2400
1  South          999
0   East          425>

In [21]:
# 13. Add a column for Month
df['Month'] = df['Date'].dt.month

In [22]:
# 14. Pivot table: Monthly sales by Category
pivot = pd.pivot_table(df, values='Total', index='Month', columns='Category', aggfunc='sum')

In [23]:
print(pivot)

Category  Furniture  Tech
Month
1               425  3399

In [24]:
# 15. Export results to CSV
sorted_sales.to_csv('region_sales_summary.csv', index=False)
print(sorted_sales.to_csv)

<bound method NDFrame.to_csv of   Region  Total Sales
2   West         2400
1  South          999
0   East          425>

In [25]:
print(pivot)

Category  Furniture  Tech
Month
1               425  3399

<h5>ðŸ§  Line-by-Line Explanation</br>
Line  Explanation</br>
1	Import the pandas library for data manipulation</br>
2	Load a CSV file into a DataFrame object (df)</br>
3	Print the first 5 rows to preview data</br>
4	Show data types and column info</br>
5	Count null values in each column</br>
6	Fill any missing quantity values with 0</br>
7	Calculate total sales for each order</br>
8	Convert the 'Date' column into a datetime object</br>
9	Filter only rows where category is 'Tech'</br>
10	Group data by region and sum total sales
11	Sort regions based on total sales in descending order</br>
12	Rename the column Total to Total Sales</br>
13	Extract the month from the 'Date' column</br>
14	Create a pivot table showing monthly sales per category</br>
15	Save the summary data to a new CSV file</br>
16	Print the pivot table to view in the console</h5>